.myContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(19, 197, 48, 0.144);
}

.myForm {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1rem;
}

.newForm {
  height: 100%;
  width: 50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1rem;
}


.myInput {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  padding: 0.25rem;
  border-radius: 0.5rem;

}

.myH1 {

  margin: 0;
}

.myLabel {
  margin-top: 1rem;
}

.myButton {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  width: 50%;
  margin-top: 2rem;
}

.newButton {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  width: 50%;
  margin-top: 3rem;
}


.mySelect {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.wrapper {
  height: 10%;
  text-align: center;
}

.first{
  text-align:center;
}

.second{
  text-align: left;
  float:left;
  margin-right: 1rem;
}

.third{
  text-align: right;
  float:right;
  margin-left: 1rem;
}

.myFormWrapper {
  display: flex;
  justify-content: center;
}

.customGridFooterContainer {
  display: none;
}

.nav-bar-flex {
  display: flex;
  justify-content: flex-end;
}

.myBox {

  margin-top: 100px ;
}

.myP {

  margin-top: 2rem;

}

